
.body{
    background-color: #fff;
    font-family: poppins,sans-serif;
}


.mynav {
    font-size: 16px;
font-weight: 500;

background-color: #fff;

}


.mylink{
    color: #1c144e;;
    font-family: poppins,sans-serif;
    font-size: 19px;
font-weight: 500;
line-height: 90px;
    

}
.navbar-brand{
    color:#500ade ;
    font-size: 25px;
font-weight: 700;
margin-bottom: 13px;

}
   
 

.mybtn{
    display: inline-block;
text-align: center;
height: 60px;
line-height: 60px;
font-size: 16px;
text-transform: capitalize;
font-weight: 600;
color: #fff;
width: 202px;
background-color: #500ade;
padding: 0 20px;
margin-left: 20px;
}

.mytitel{
    font-size: 58px;
line-height: 68px;
font-weight: 700;
color: #252a32;
margin-bottom: 22px;
font-family: poppins,sans-serif;
text-align: center;
}

.mybutton1{
    display: inline-block;
    text-align: center;
    height: 60px;
    line-height: 56px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0 40px;
    transition: all .3s ease-in;
border-radius: 5px;
text-decoration: none;
outline: none;
background-color: #500ADE;
color: white;
border: 2px solid var(--main-color-one);
margin-left: 450px ;

}

.mybutton2{
    
    color:#500ADE ;
    margin-left: 15px;
    border: 2px solid  #500ADE ;
    display: inline-block;
text-align: center;
height: 60px;
line-height: 56px;
font-size: 16px;
text-transform: capitalize;
font-weight: 600;
transition: all .3s ease-in;
border-radius: 5px;
padding: 0 40px;
text-decoration: none;
}

.myimg{
    margin-left: 250px;
    margin-top: 100px;
}



.mytitel2{
    font-size: 58px;
line-height: 68px;
font-weight: 700;
color: #1C144E;
margin-bottom: 22px;
font-family: poppins,sans-serif;
text-align: center;  
}



.myicon1{
    font-size: 36px;
line-height: 46px;
margin-left: 90px;

}

.card-sybtitle{
    text-align: center;
    font-size: 22px;
line-height: 34px;
color: #1c144e;
font-weight: 700;
font-family: poppins,sans-serif;
margin-bottom: .5rem;
margin-top: 0;
}

.card-text{
    font-size: 16px;
color: #666;
line-height: 1.625;
margin-top: 0;
margin-bottom: 1rem;
}









