
.body{
    background-color: #fff;
    font-family: poppins,sans-serif;
}


.mynav {
    font-size: 16px;
font-weight: 500;

background-color: #fff;

}


.mylink{
    color: #1c144e;;
    font-family: poppins,sans-serif;
    font-size: 19px;
font-weight: 500;
line-height: 90px;
    

}
.navbar-brand{
    color:#500ade ;
    font-size: 25px;
font-weight: 700;
margin-bottom: 13px;

}
   
 

.mybtn{
    display: inline-block;
text-align: center;
height: 60px;
line-height: 60px;
font-size: 16px;
text-transform: capitalize;
font-weight: 600;
color: #fff;
width: 202px;
background-color: #500ade;
padding: 0 20px;
margin-left: 20px;
}

.mytitel{
    font-size: 58px;
line-height: 68px;
font-weight: 700;
color: #252a32;
margin-bottom: 22px;
font-family: poppins,sans-serif;
text-align: center;
}

.mybutton1{
    display: inline-block;
    text-align: center;
    height: 60px;
    line-height: 56px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
padding: 0 40px;
transition: all .3s ease-in;
border-radius: 5px;
text-decoration: none;
outline: none;
background-color: #500ADE;
color: white;
border: 2px solid var(--main-color-one);
margin-left: 450px ;

}

.mybutton2{
    
    color:#500ADE ;
    margin-left: 15px;
    border: 2px solid  #500ADE ;
    display: inline-block;
text-align: center;
height: 60px;
line-height: 56px;
font-size: 16px;
text-transform: capitalize;
font-weight: 600;
transition: all .3s ease-in;
border-radius: 5px;
padding: 0 40px;
text-decoration: none;
}

.myimg{
    margin-left: 250px;
    margin-top: 100px;
}



.mytitel2{
font-size: 58px;
line-height: 68px;
font-weight: 700;
color: #1C144E;
margin-bottom: 22px;
font-family: poppins,sans-serif;
text-align: center;  
}



.myicon1{
font-size: 36px;
line-height: 46px;
margin-left: 95px;
color: #1C144E;

}

.card-subtitle{
text-align: center;
font-size: 24px;
line-height: 34px;
color: #1c144e;
font-weight: 600;
font-family: poppins,sans-serif;
margin-bottom: .5rem;
margin-top: 0;
}

.card-text{
font-size: 16px;
color: #666;
line-height: 1.625;
margin-top: 0;
margin-bottom: 1rem;
}

.myfoto{
    margin-left: 150px;
    margin-top: 50px;
    position: relative;
z-index: 2;
}

.myspan{
font-size: 20px;
line-height: 30px;
color: #500ade;
text-transform: uppercase;
font-weight: 600;
font-family: poppins,sans-serif;
display: block;
margin-bottom: 10px;
text-align: left;
}

.myuntertitel{
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 13px;
    font-weight: 700;
    color: #1c144e;
    font-family: poppins,sans-serif;
    margin-top: 0;
    text-align: left;
}

.mybild{
margin-top: -290px;
border-radius: 10px;
max-width: 100%;
 vertical-align: middle;
border-style: none;
position: relative;
z-index: 0;
margin-left: 100px;
}


.myicon{
margin-left: 90px;
width: 100px;
height: 100px;
border-radius: 50%;
border: 1px solid #cfcfcf;
line-height: 100px;
text-align: center;
font-size: 36px;
transition: all 500ms;
color: #e81273;
font-weight: 400;
margin-top: 10px;


}

.myicon:hover{
    background-color: #e81273;
    color: white;
}
.mygithub{
    display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
text-align: center;
font-size: 36px;
margin-bottom: 10px;
}

.myschrift{
    color: #1c144e;
    font-weight: 700;
    font-family: poppins,sans-serif;
    font-size: 22px;
line-height: 1.2380952380952381;
margin-bottom: .5rem;
margin-top: 0;
margin-left: 100px;

}

.myphrase{
    font-family: poppins,sans-serif;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
margin-bottom: 1rem;
font-size: 16px;
color: #666;
line-height: 1.625;
margin-left: 100px;
}

.myicon2{
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
    transition: all 500ms;
    color: #4097F8;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 90px;
}

.myicon2:hover{
    background-color: #4097F8;
    color: white;
}

.myicon3{
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
    transition: all 500ms;
    color:#3CEB9E ;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 90px; 
}

.myicon3:hover{
    background-color: #3CEB9E;
    color: white;
}

.myicon4{
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
    transition: all 500ms;
    color:#F99C6A;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 90px;  
}

.myicon4:hover{
    background-color: #F99C6A;
    color: white;
}

.myspan2{
    font-size: 20px;
    line-height: 30px;
    color: #500ade;
    text-transform: uppercase;
    font-weight: 600;
    font-family: poppins,sans-serif;
    display: block;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: left;
    margin-left: 100px;

}

.myh3{
    font-size: 48px;
line-height: 58px;
margin-bottom: 13px;
font-weight: 700;
color: #1c144e;
letter-spacing: -1px;
font-family: poppins,sans-serif;
margin-top: 0;
text-align: left;
box-sizing: border-box;
margin-left: 100px;
}


.mysentence{
    font-weight: 400;  
    font-size: 16px;
    color: #777;
    max-width: 720px;
    line-height: 26px;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
    margin-left: 100px;
}

.myclick{
    display: inline-block;
text-align: center;
height: 60px;
line-height: 56px;
font-size: 16px;
text-transform: capitalize;
font-weight: 600;
color: #fff;
background-color: #500ade;
padding: 0 30px;
transition: all .3s ease-in;
border-radius: 5px;
border: 2px solid transparent;
text-decoration: none;
outline: none;
box-sizing: border-box;
margin-top: 20px;
margin-left: 100px;
}

.mypicture{
    max-width: 100%;
    vertical-align: middle;
border-style: none;
box-sizing: border-box;

}


.myimage{
    margin-left: 80px;
}










